In [133]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


df = pd.read_csv("Accident_Cities.csv")
df1 =pd.read_csv("Accident_States.csv",skiprows=1)
df.head(2)
df1=df1.fillna(0)
df1

,States/UTs,State/UT-Wise Total Number of Persons Injured in Road Accidents during-2009,State/UT-Wise Total Number of Persons Injured in Road Accidents during-2010,State/UT-Wise Total Number of Persons Injured in Road Accidents during-2011,State/UT-Wise Total Number of Persons Injured in Road Accidents during-2012,2008,2009,2010,2011,2012,...,2016,2008.1,2009.1,2010.1,2011.1,2012.1,2013.1,2014.1,2015.1,2016.1
0,Andhra Pradesh,52157.0,53928.0,55583.0,51552.0,7471.0,6407.0,5211.0,4560.0,6201.0,...,5564,1591.0,4469.0,2877.0,2205.0,1660.0,1315.0,594,490,128
1,Arunachal Pradesh,530.0,491.0,438.0,399.0,32.0,35.0,42.0,72.0,15.0,...,41,25.0,20.0,8.0,8.0,25.0,36.0,11,22,15
2,Assam,5522.0,7579.0,6505.0,6709.0,843.0,1244.0,1400.0,1233.0,1430.0,...,1094,530.0,279.0,361.0,760.0,347.0,807.0,613,611,352
3,Bihar,7113.0,8106.0,7083.0,7142.0,1008.0,1551.0,1452.0,1748.0,1266.0,...,1509,1944.0,1011.0,930.0,1590.0,1572.0,1532.0,1680,1457,593
4,Chhattisgarh,13274.0,13599.0,13929.0,13517.0,1347.0,1474.0,1382.0,1431.0,1186.0,...,1735,855.0,266.0,1241.0,304.0,277.0,310.0,335,227,145
5,Goa,2954.0,2709.0,2318.0,2086.0,271.0,211.0,214.0,240.0,226.0,...,306,42.0,15.0,29.0,30.0,23.0,13.0,9,6,3
6,Gujarat,32944.0,32449.0,29744.0,27650.0,4373.0,4611.0,4898.0,5385.0,4640.0,...,4611,540.0,1339.0,234.0,212.0,231.0,40.0,42,361,64
7,Haryana,10481.0,9905.0,9727.0,9452.0,2580.0,2080.0,2089.0,2090.0,2075.0,...,1113,427.0,381.0,365.0,368.0,316.0,1021.0,1095,1092,529
8,Himachal Pradesh,5579.0,5325.0,5462.0,5248.0,388.0,764.0,619.0,696.0,767.0,...,187,34.0,51.0,101.0,58.0,50.0,82.0,74,50,72
9,Jammu and Kashmir,8199.0,8726.0,10012.0,9755.0,603.0,709.0,570.0,699.0,573.0,...,432,378.0,62.0,133.0,92.0,212.0,388.0,388,375,47
10,Jharkhand,4406.0,4872.0,4811.0,4974.0,633.0,995.0,1189.0,924.0,1050.0,...,440,725.0,695.0,1005.0,1220.0,909.0,444.0,611,1518,543
11,Karnataka,61697.0,61774.0,59591.0,58659.0,5678.0,4501.0,6657.0,5205.0,4304.0,...,8037,513.0,967.0,299.0,541.0,577.0,495.0,2207,298,396
12,Kerala,41402.0,41473.0,41379.0,41915.0,2317.0,2307.0,2462.0,2606.0,2707.0,...,3300,67.0,63.0,65.0,67.0,168.0,28.0,35,49,133
13,Madhya Pradesh,54611.0,56897.0,55545.0,55994.0,4034.0,4284.0,4471.0,4300.0,3494.0,...,5188,1899.0,4480.0,4082.0,4028.0,5374.0,4301.0,3540,2665,3083
14,Maharashtra,47878.0,46985.0,45628.0,43847.0,8704.0,4404.0,7301.0,8549.0,8607.0,...,7787,2169.0,1868.0,2407.0,2452.0,2350.0,2187.0,1251,1345,226
15,Manipur,1189.0,1132.0,1118.0,1391.0,22.0,42.0,20.0,22.0,0.0,...,12,105.0,138.0,33.0,140.0,0.0,0.0,0,0,71
16,Meghalaya,713.0,461.0,591.0,322.0,69.0,26.0,84.0,67.0,20.0,...,35,9.0,39.0,33.0,93.0,56.0,29.0,25,137,35
17,Mizoram,203.0,252.0,215.0,172.0,35.0,15.0,29.0,10.0,37.0,...,16,18.0,15.0,27.0,17.0,46.0,13.0,16,15,27
18,Nagaland,151.0,121.0,107.0,49.0,25.0,0.0,0.0,0.0,0.0,...,6,9.0,0.0,2.0,4.0,5.0,10.0,91,2,13
19,Odisha,11296.0,11399.0,11248.0,10715.0,1330.0,406.0,1463.0,1408.0,1439.0,...,2098,819.0,813.0,858.0,1141.0,846.0,739.0,637,972,1255
20,Punjab,4486.0,4071.0,4081.0,3997.0,1478.0,1219.0,1336.0,1674.0,1739.0,...,1923,130.0,488.0,539.0,226.0,82.0,147.0,442,118,317
21,Rajasthan,32317.0,31033.0,28666.0,28135.0,4736.0,4681.0,4451.0,4650.0,4621.0,...,6242,1132.0,1139.0,1804.0,1159.0,779.0,1451.0,915,667,673
22,Sikkim,434.0,399.0,321.0,336.0,28.0,15.0,9.0,7.0,7.0,...,26,52.0,0.0,36.0,27.0,1.0,5.0,8,30,12
23,Tamil Nadu,70504.0,75445.0,74245.0,78348.0,5703.0,5695.0,6323.0,6412.0,8043.0,...,11444,363.0,2208.0,2439.0,3096.0,3096.0,2764.0,1416,818,531
24,Telangana,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3541,0.0,0.0,0.0,0.0,0.0,0.0,968,42,202
25,Tripura,1342.0,1269.0,1030.0,1237.0,175.0,209.0,163.0,168.0,148.0,...,129,23.0,0.0,0.0,19.0,7.0,4.0,12,13,5
26,Uttarakhand,1784.0,1656.0,1712.0,1577.0,575.0,473.0,456.0,466.0,231.0,...,437,9.0,4.0,0.0,1.0,240.0,9.0,508,6,40
27,Uttar Pradesh,20632.0,20113.0,15513.0,22155.0,2803.0,2880.0,1468.0,4629.0,2947.0,...,5471,4155.0,4404.0,2305.0,4706.0,4558.0,2049.0,1232,2403,4633
28,West Bengal,12186.0,15760.0,14962.0,13773.0,1670.0,1576.0,143.0,0.0,2397.0,...,535,1555.0,1894.0,8663.0,0.0,0.0,0.0,0,413,462
29,Andaman and Nicobar Islands,342.0,373.0,298.0,288.0,15.0,19.0,18.0,16.0,25.0,...,11,23.0,27.0,26.0,21.0,18.0,20.0,25,30,27
30,Chandigarh,321.0,415.0,370.0,347.0,20.0,88.0,17.0,0.0,24.0,...,142,4.0,0.0,0.0,0.0,17.0,1.0,11,8,9
31,Dadra and Nagar Haveli,71.0,134.0,210.0,122.0,65.0,45.0,15.0,63.0,17.0,...,4,0.0,0.0,73.0,0.0,58.0,0.0,1,6,0
32,Daman and Diu,69.0,43.0,37.0,39.0,5.0,14.0,12.0,8.0,8.0,...,12,1.0,0.0,1.0,1.0,7.0,1.0,0,7,7
33,Delhi,6936.0,7108.0,7226.0,6633.0,0.0,0.0,0.0,365.0,329.0,...,318,0.0,8.0,12.0,46.0,60.0,41.0,51,40,164
34,Lakshadweep,3.0,5.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,1.0,0.0,0.0,2.0,0.0,0,0,0
35,Puducherry,1732.0,1505.0,1689.0,1129.0,210.0,212.0,239.0,229.0,147.0,...,150,4.0,8.0,12.0,23.0,10.0,8.0,73,5,82

In [134]:
#1. List 3 Cities where maximum number of people injured from 2011 to 2015.
#Persons Injured - 2011
#Persons Injured - 2012
#Injured - 2013
#Injured - 2014
#Injured - 2015

df["TotalInjured"] = df["Persons Injured - 2011"] + df["Persons Injured - 2012"]+df["Injured - 2013"]+df["Injured - 2014"]+df["Injured - 2015"]
three_cities=df.sort_values("TotalInjured",ascending=False).head(3)
three_cities["Name of City"]

7         Delhi
13       Indore
4     Bengaluru
Name: Name of City, dtype: object

In [135]:
#2
df[df["Persons Injured - 2012"].le(df['Persons Injured - 2011'])]["Name of City"].head(3)

0          Agra
1     Ahmedabad
3    Aurangabad
Name: Name of City, dtype: object

In [30]:
df1.head(2)

,States/UTs,State/UT-Wise Total Number of Persons Injured in Road Accidents during-2009,State/UT-Wise Total Number of Persons Injured in Road Accidents during-2010,State/UT-Wise Total Number of Persons Injured in Road Accidents during-2011,State/UT-Wise Total Number of Persons Injured in Road Accidents during-2012,2008,2009,2010,2011,2012,...,2016,2008.1,2009.1,2010.1,2011.1,2012.1,2013.1,2014.1,2015.1,2016.1
0,Andhra Pradesh,52157.0,53928.0,55583.0,51552.0,7471.0,6407.0,5211.0,4560.0,6201.0,...,5564,1591.0,4469.0,2877.0,2205.0,1660.0,1315.0,594,490,128
1,Arunachal Pradesh,530.0,491.0,438.0,399.0,32.0,35.0,42.0,72.0,15.0,...,41,25.0,20.0,8.0,8.0,25.0,36.0,11,22,15

In [136]:
# death due to over speed is 2008 and death due to alchol is 2008.1
#List 5 major states which has more deaths due to over speed from 2010 to 2015. Show plot also.
df1["overSpeed"] = df1["2010"]+df1["2011"]+df1["2012"]+df1["2013"]+df1["2014"]+df1["2015"]
states = df1.sort_values("overSpeed",ascending=False)
states["States/UTs"].head(5)

14       Maharashtra
23        Tamil Nadu
11         Karnataka
6            Gujarat
0     Andhra Pradesh
Name: States/UTs, dtype: object

In [145]:
#x = [df1["2010"],df1["2011"],df1["2012"],df1["2013"],df1["2014"],df1["2015"]]
#y = [df1["States/UTs"],states]
# df1["overSpeed"] = df1["2010"]+df1["2011"]+df1["2012"]+df1["2013"]+df1["2014"]+df1["2015"]
# y = states["States/UTs"]
# x = df1["overSpeed"]
# plt.plot(x,y)
# plt.show()

In [156]:
#4Write a method to compute the average deaths for any given state from year 2012 to 2016 due to over speed.
def averageDeaths(state):
    df1["average"] = df1[["2012","2013","2014","2015","2016"]].mean(axis=1)
    return df1[df1["States/UTs"]==state]
    #death = and df1["States/UTs"] == "Gwalior"
    #return df1[df1["average"] & df1["States/UTs"]==state]
    #return df1[df1["average"].mean(axis=1) and df1["States/UTs"]==state]
    #df1[df1["average"]==df1["average"]]
    #print(state)
    #return df1[df1["average"]==df1[["2012","2013","2014","2015","2016"]].mean(axis=1)]["States/UTs"==state]
    
    
averageDeaths("Karnataka")
#df1.head(2)

/home/sois/anaconda3/lib/python3.6/site-packages/pandas/core/ops.py:798: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = getattr(x, name)(y)

TypeError: invalid type comparison

In [139]:
#5.List 5 major cities which has maximum deaths from 2011 to 2015. Plot graph also.

df["deathInCity"] = df["Persons Killed - 2011"]+df["Persons Killed - 2012"]+ df["Killed - 2013"]+df["Killed - 2014"]+df["Killed - 2015"]

In [144]:
cities = df.sort_values("deathInCity",ascending=False)
print(cities["Name of City"].head(5))

7         Delhi
4     Bengaluru
27       Mumbai
23      Lucknow
0          Agra
Name: Name of City, dtype: object